:root {
  --primary-color: white;
  --hosttable-status-uploaded-color: greenyellow;
  --hosttable-status-failed-color: #ff0033;
  --hosttable-status-waiting-color: lightgray;
  /*--hosttable-background-color-container : #3d4449;
  --hosttable-background-color-container-secondary : #2a3338;*/

    --hosttable-background-color-container : #000000;
  --hosttable-background-color-container-secondary : #c3271d;
  --hosttable-padding: 12px;
  --hosttable-padding-s: 6px;
  --hosttable-padding-xs: 2px;

  --hosttable-border-radius: 3px;

  --hosttable-odd-row-color: var(--hosttable-background-color-container);
  --hosttable-even-row-color: var(--hosttable-background-color-container-secondary);

  --hosttable-text-color: var(--primary-color);
}

.background {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #1b1f27;
}

.hosttable-container {
  background-color: var(--hosttable-background-color-container);
  border-radius: var(--hosttable-border-radius);
  color: var(--hosttable-text-color);
  min-width: 950px;
  margin: 0 auto;
}

tr:nth-child(odd) {
  background-color: var(--hosttable-odd-row-color);
}

tr:nth-child(even) {
  background-color: var(--hosttable-even-row-color);
}

.uploaded::after {
  content: "Uploaded";
  color: var(--hosttable-status-uploaded-color);
}

.failed::after {
  content: "Erro";
  color: var(--hosttable-status-failed-color);
}

.waiting::after {
  content: "Esperando upload";
  color: var(--hosttable-status-waiting-color);
}

.waiting::before
,.failed::before
,.uploaded::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 10px;
  border-radius: 50%;
  vertical-align: middle;
}

.uploaded::before {
  background-color: var(--hosttable-status-uploaded-color);
}

.failed::before {
  background-color: var(--hosttable-status-failed-color);
}

.waiting::before {
  background-color: var(--hosttable-status-waiting-color);
}

.center-div {
    float: center;
    width: 50%;
    margin: auto;
    padding: 20px 50px;
    margin-top: 6px;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #252a34;
  }

input::placeholder {
    color: #cbd0f7;
}

.image-container {
    text-align: center;
    float: center;
    width: 100%;
    }

h1 {
    color: #ffffff;
}

img {
    max-width: 100%;
    width: fill;
}

  .hoststable {
    width: 100%;
  }

  button {
    background-color: #5568fe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  