.background {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #1b1f27;
}

.welcome {
    text-align: center;
    width: fill;
}

.center-div {
    float: center;
    width: 50%;
    margin: auto;
    padding: 20px 50px;
    margin-top: 6px;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #252a34;
  }

input::placeholder {
    color: #cbd0f7;
}

.image-container {
    text-align: center;
    float: center;
    width: 100%;
    }

h1 {
    color: #ffffff;
}

img {
    max-width: 100%;
    width: fill;
}
button {
    background-color: #5568fe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  .hoststable {
    width: 100%;
  }

  td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2;}
  
  tr:hover {background-color: #ddd;}
  
  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5568fe;
    color: white;
  }