.background {
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: #1b1f27;
}

.welcome {
    text-align: center;
    width: fill;
}

.center-div {
    float: center;
    width: 50%;
    margin: auto;
    padding: 20px 50px;
    margin-top: 6px;
  }

img.avatar {
    width: 40%;
  }

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    color: #ffffff;
    box-sizing: border-box;
    background-color: #252a34;
  }

input::placeholder {
    color: #cbd0f7;
}

.imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
      }

/*.container {
        text-align: center;
        float: center;
        width: 100%;
        }
*/
        
.container {
    padding: 16px;
  }
  
h1 {
    color: #ffffff;
}

label{
    color: #ffffff;
}
img {
    max-width: 100%;
    width: fill;
}
button {
    background-color: #5568fe;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

button:hover {
    opacity: 0.8;
  }

  .custom-select {
    float: center;
    width: 100%;
    margin: auto;
    margin-top: 6px;
  }
  
  .custom-select select {
    width:100%;
    appearance: none;
    font-size: 1.15rem;
    padding: 0.675em 0em 0.675em 1em;
    background-color: #1b1f27;
    border: 1px solid #caced1;
    display: inline-block;
    color: #ffffff;
    box-sizing: border-box;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  .error-message {
    background-color: #fce4e4;
    border: 1px solid #fcc2c3;
    padding: 20px 30px;
  }

  .error-text {
    color: #cc0033;
    font-weight: bold;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    text-shadow: 1px 1px rgba(250,250,250,.3);
  }

  .ok-message {
    background-color: #e4fce4;
    border: 1px solid #c2fcc3;
    padding: 20px 30px;
  }

  .ok-text {
    color: #00ee22;
    font-weight: bold;
    text-align: center;
    width: 100%;
    vertical-align: middle;
    text-shadow: 1px 1px rgba(250,250,250,.3);
  }