<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <script type="text/javascript" src="{{ url_for('static', filename = 'jquery-3.7.1.js') }}"></script>
        <script>
          templates_groups = {}
          $.ajax({
            url: "/templates",
            type: 'POST',
            data: {
            },
            success: function (response) {
              status = 1
              templates_groups = response
            },
            error: function (response) {
              status = 0
              templates_groups = response
            }
          });
          function select_function(element){
            console.log(element.value)
            for(i=0;i<element.childElementCount;i++){
              select = document.getElementById(element.id+"_"+i)
              if(element.value == i){
                select.style.display = 'block';
              }else{
                select.style.display = "none";
              }
            }
          }

          function DownloadPlanilha(){
            const rows = [
                ["NOME", "IP", "PORTA","TEMPLATE","VERSAO SNMP","SNMP COMUNITY"]
            ];
            let csvContent = "data:text/csv;charset=utf-8," 
            + rows.map(e => e.join(",")).join("\n");
            var encodedUri = encodeURI(csvContent);
            window.open(encodedUri);
          }

          function InserirNaPlanilha(){
            tBody = document.getElementById("tableBody")
            console.log(templates_groups)
            templates_groups_keys = Object.keys(templates_groups)
            console.log(templates_groups_keys)
            csvLinetr = document.createElement("tr")
            k=0
            template_to_use=0
            template_group_to_use=0
            csvLine = ["-","-","-","-","1","-"]
            for(var j=0; j<8; j++){
              if(j==1){
                a = document.createElement("td")
                b = document.createElement("div")
                b.className = "waiting"
                a.appendChild(b)
                csvLinetr.appendChild(a)
                continue;
              }
              if(j==4){
                select = document.createElement("select");
                select.id = "type_"+(tBody.childElementCount-1)
                select.setAttribute("onchange","select_function(this)")
                n = 0;
                console.log(templates_groups_keys);
                for(l=0;l<templates_groups_keys.length;l++){
                  selectOptions = document.createElement("option");
                  selectOptions.value = n;
                  n++;
                  selectOptions.textContent = templates_groups_keys[l];
                  console.log(selectOptions);
                  select.appendChild(selectOptions);
                }
                a = document.createElement("td");
                a.appendChild(select);
                a.classList.add("custom-select")
                csvLinetr.appendChild(a); 
                continue;
              }
              if (j==5){
                a = document.createElement("td");
                n=0
                templates_groups_keys.forEach((option) => {
                  select = document.createElement("select");
                  select.id = "type_"+(tBody.childElementCount-1)+"_"+n
                  templates = templates_groups[option]
                  templates.forEach((template) =>  {
                    //adicionar verificacao aqui e salvar template_group_e_template_que_foi_usado
                    try{
                      if(template["name"].toLowerCase() === csvLine[k].toLowerCase()){
                      console.log("csvLine["+k+"]"+csvLine[k])
                      template_to_use = template["templateid"]
                      template_group_to_use = n
                      select.value = template["templateid"]
                      }
                    }catch{

                    }
                    //senao usar o primeiro template
                    selectOptions = document.createElement("option");
                    selectOptions.value = template["templateid"];
                    selectOptions.textContent = template["name"];
                    select.appendChild(selectOptions);
                  });
                  n++;
                  console.log(select)
                  a.appendChild(select);
                  a.classList.add("custom-select")
                });
                csvLinetr.appendChild(a);  
                k++;
                continue;
              }
              if(j==6){
                select = document.createElement("select");
                const options = [
                    "SNMP v1", 
                    "SNMP v2"
                ];
                n = 1;
                options.forEach((option) => {
                  selectOptions = document.createElement("option");
                  selectOptions.value = n;
                  n++;
                  selectOptions.textContent = option;
                  select.appendChild(selectOptions);
                });
                if(csvLine[k] == 2 || csvLine[k] == "SNPMv2"){
                  select.value = 2
                }else {
                  select.value = 1
                }
                a = document.createElement("td");
                a.appendChild(select);
                csvLinetr.appendChild(a);
                a.classList.add("custom-select")
                k++;
                continue;
              }
              if(k<csvLine.length){
                a = document.createElement("td")
                a.setAttribute("ondblclick","this.contentEditable=true;this.className='inEdit';")
                a.setAttribute("onblur","this.contentEditable=false;this.className='';") 
                a.setAttribute("contenteditable","false")
                a.innerHTML = csvLine[k]
                csvLinetr.appendChild(a)
                k++;
              }else{
                a = document.createElement("td")
                a.innerHTML = "-"
                csvLinetr.appendChild(a)                   
              }
            }
            tBody.appendChild(csvLinetr)
            console.log(tBody.childElementCount-1)
            type = document.getElementById("type_"+(tBody.childElementCount-2))
            type.value = template_group_to_use
            if(template_to_use != 0){
              type2 = document.getElementById("type_"+(tBody.childElementCount-2)+"_"+template_group_to_use)
              type2.value = template_to_use
            }
            select_function(type)
          }
        </script>
        <link rel="stylesheet" href="{{ url_for('static', filename='/addhosts.css') }}">
    </head>
    <body class="background">
      <div class="topbar">
        <img src="{{url_for('static', filename='horus.png')}}" class="imgbar">
        <form action="/signout" method="POST">
          <button class="signout" type="submit">Deslogar</button>
          <input id="auth_token" type="hidden">
        </form>
      </div>
       <label class="upload">
          Upload do arquivo CSV
          <input class="custom-button" type="file" id="fileinput" style="display: none;"/>
       </label>
        <button onclick="uploadHosts()">Upload Hosts</button>
        <button onclick="DownloadPlanilha()">Baixar planilha modelo</button>
        <button onclick="InserirNaPlanilha()">Inserção manual</button>
        <div class="hosttable-container">
          <table class="hoststable" id="tableCSV">
            <tbody id="tableBody">
              <tr>
                <th>Hostname</th>
                <th>Status</th>
                <th>IP</th>
                <th>Port</th>
                <th>Grupo de Temp.</th>
                <th>Template</th>
                <th>versão SNMP</th>
                <th>community</th>
              </tr>
            </tbody>
          </table>
        </div>
        <script>
          function readSingleFile(evt) {
            var f = evt.target.files[0]; 
            if (f) {
              var r = new FileReader();
              r.onload = function(e) {
                tBody = document.getElementById("tableBody")
                if(tBody.childElementCount > 1){
                  for(i=tBody.childElementCount;i>1;i--){
                    tBody.removeChild(tBody.lastChild)
                  }
                }
                  console.log(templates_groups)
                  templates_groups_keys = Object.keys(templates_groups)
                  console.log(templates_groups_keys)
                  var contents = e.target.result;
                  var lines = contents.split("\n"), output = [];
                  //console.log(lines)
                  tableCSV = document.getElementById("tableCSV").children[0]
                  console.log(tableCSV)
                  for (var i=0; i<lines.length; i++){
                    template_to_use=0
                    template_group_to_use=0
                    csvLine = lines[i].split(",");
                    if(i==0){
                      if(csvLine[0] == "NOME" && csvLine[1] == "IP"){
                        continue;
                      }
                    }
                    console.log(csvLine)
                    csvLinetr = document.createElement("tr")
                    //contador do csv
                    k = 0;
                    for(var j=0; j<8; j++){
                      if(j==1){
                        a = document.createElement("td")
                        b = document.createElement("div")
                        b.className = "waiting"
                        a.appendChild(b)
                        csvLinetr.appendChild(a)
                        continue;
                      }
                      if(j==4){
                        select = document.createElement("select");
                        select.id = "type_"+i
                        select.setAttribute("onchange","select_function(this)")
                        n = 0;
                        console.log(templates_groups_keys);
                        for(l=0;l<templates_groups_keys.length;l++){
                          selectOptions = document.createElement("option");
                          selectOptions.value = n;
                          n++;
                          selectOptions.textContent = templates_groups_keys[l];
                          console.log(selectOptions);
                          select.appendChild(selectOptions);
                        }
                        a = document.createElement("td");
                        a.appendChild(select);
                        a.classList.add("custom-select")
                        csvLinetr.appendChild(a); 
                        continue;
                      }
                      if (j==5){
                        a = document.createElement("td");
                        n=0
                        templates_groups_keys.forEach((option) => {
                          select = document.createElement("select");
                          select.id = "type_"+i+"_"+n
                          templates = templates_groups[option]
                          templates.forEach((template) =>  {
                            //adicionar verificacao aqui e salvar template_group_e_template_que_foi_usado
                            if(template["name"].toLowerCase() === csvLine[k].toLowerCase()){
                              console.log("csvLine["+k+"]"+csvLine[k])
                              template_to_use = template["templateid"]
                              template_group_to_use = n
                              select.value = template["templateid"]
                            }
                            //senao usar o primeiro template
                            selectOptions = document.createElement("option");
                            selectOptions.value = template["templateid"];
                            selectOptions.textContent = template["name"];
                            select.appendChild(selectOptions);
                          });
                          n++;
                          console.log(select)
                          a.appendChild(select);
                          a.classList.add("custom-select")
                        });
                        csvLinetr.appendChild(a);  
                        k++;
                        continue;
                      }
                      if(j==6){
                        select = document.createElement("select");
                        const options = [
                            "SNMP v1", 
                            "SNMP v2"
                        ];
                        n = 1;
                        options.forEach((option) => {
                          selectOptions = document.createElement("option");
                          selectOptions.value = n;
                          n++;
                          selectOptions.textContent = option;
                          select.appendChild(selectOptions);
                        });
                        if(csvLine[k] == 2 || csvLine[k] == "SNPMv2"){
                          select.value = 2
                        }else {
                          select.value = 1
                        }
                        a = document.createElement("td");
                        a.appendChild(select);
                        csvLinetr.appendChild(a);
                        a.classList.add("custom-select")
                        k++;
                        continue;
                      }
                      if(k<csvLine.length){
                        a = document.createElement("td")
                        a.setAttribute("ondblclick","this.contentEditable=true;this.className='inEdit';")
                        a.setAttribute("onblur","this.contentEditable=false;this.className='';") 
                        a.setAttribute("contenteditable","false")
                        a.innerHTML = csvLine[k]
                        csvLinetr.appendChild(a)
                        k++;
                      }else{
                        a = document.createElement("td")
                        a.innerHTML = "-"
                        csvLinetr.appendChild(a)                   
                      }
                    }
                    tableCSV.appendChild(csvLinetr)
                    type = document.getElementById("type_"+i)
                    type.value = template_group_to_use
                    if(template_to_use != 0){
                      type2 = document.getElementById("type_"+i+"_"+template_group_to_use)
                      type2.value = template_to_use
                    }
                    select_function(type)
                  }
              }
              r.readAsText(f);
            } else { 
              alert("Failed to load file");
            }
          }

          document.getElementById('fileinput').addEventListener('change', readSingleFile);

          function uploadHost(host){
            status = 0
            try{
              hostname_ = host.children[0].innerHTML
            }catch{
              hostname_ = "-"
            }
            try{
              IP_ = host.children[2].innerHTML
            }catch{
              IP_ = "-"
            }
            try{
              Port_ = host.children[3].innerHTML
            }catch{
              Port_ = "-"
            }
            try{
              console.log(host.children[5])
              selects_count = host.children[5].children.length
              for(counter = 0;counter<selects_count;counter++){
                select_n = host.children[5].children[counter]
                if(select_n.style.display == "block" || select_n.style.display == ""){
                  Type_ = select_n.value
                  break;
                }
              }
              console.log(Type_)
            }catch{
              Type_ = 1
            }
            try{
              SNMP_ = host.children[6].firstChild.value
            }catch{
              SNMP_ = "-"
            }
            try{
              comunity_security_name_ = host.children[7].innerHTML
            }catch{
              comunity_security_name_ = "-"
            }
            try{
              authpassphrase_ = host.children[8].innerHTML
            }catch{
              authpassphrase_ = "-"
            }
            try{
              authprotocol_ = host.children[9].innerHTML
            }catch{
              authprotocol_ = "-"
            }
            try{
              privpassphrase_ = host.children[10].innerHTML
            }catch{
              privpassphrase_ = "-"
            }
            try{
              privprotocol_ = host.children[11].innerHTML
            }catch{
              privprotocol_ = "-"
            }

            $.ajax({
              url: "/addhosts",
              type: 'POST',
              data: {
                  hostname : hostname_,
                  ip : IP_,
                  port : Port_,
                  template : Type_,
                  SNMP: SNMP_,
                  type: "notaserver",
                  snmp_config: {
                    comunity_security_name: comunity_security_name_,
                    authpassphrase: authpassphrase_,
                    authprotocol: authprotocol_,
                    privpassphrase: privpassphrase_,
                    privprotocol: privprotocol_,
                  }
              },
              success: function (response) {
                status = 1
                console.log(response)
                host.children[1].innerHTML = response["message"]
              },
              error: function (response) {
                status = 0
                console.log(response)
                host.children[1].innerHTML = "Error - " + response["message"]
              }
          });
              return status
          }
          function uploadHosts(){
              tableCSV = document.getElementById("tableCSV").children[0]
              console.log(tableCSV)
              for(i=1;i<tableCSV.childElementCount;i++){
                console.log(i)
                host = tableCSV.children[i]
                status = uploadHost(host)
              }
          }
        </script>
    </body>
</html>
